<h1>To-do List</h1>


<ul>
  <% @tasks.each do |task| %>
    <li id="task_<%= task.id %>">
     <%= task.description %>
     <%= link_to 'Edit', edit_task_path(task) %>
     <%= link_to 'Destroy', task, method: :delete, remote: true %>
    </li>
  <% end %>
  </ul>

<br />

<%= link_to 'New Task', new_task_path %>
